@media (max-width: 82em) {
  .accordion {
    max-width: 110rem;
  }
}
@media (max-width: 56em) {
  .accordion {
    max-width: 89rem;
  }

  .icon {
    height: 1.3rem;
    width: 1.3rem;
  }

  .text,
  .number {
    font-size: 1.3rem;
  }

  .item {
    max-width: 50rem;
  }
}

@media (max-width: 37em) {
  .accordion {
    max-width: 59rem;
  }
  .text,
  .number {
    font-size: 0.9rem;
  }
  .icon {
    height: 0.9rem;
    width: 0.9rem;
  }
  .item {
    max-width: 32rem;
  }
}
@media (max-width: 25em) {
  .accordion {
    max-width: 40rem;
  }
  .text,
  .number {
    font-size: 0.9rem;
  }

  .icon {
    height: 0.9rem;
    width: 0.9rem;
  }
  .item {
    max-width: 25rem;
  }
}
